textarea {
	resize: none;
}

textarea:focus, button:focus, input:focus {
	outline: none;
}

button {
	cursor: pointer;
	transition: background-color 200ms;
}

button:hover {
	background-color: #1abc9c;
}

/* Only exists if requesting char input */
#console #charInput:focus ~ #output:after {
	content: ".";
	color: transparent;
	box-sizing: border-box;
	display: inline-block;
	border-bottom: 4px solid #fff;
	transform: translateY(-6px);
	animation: blink 1s linear infinite;
}

::selection {
	background: #1abc9c; /* WebKit/Blink Browsers */
}

::-moz-selection {
	background: #1abc9c; /* Gecko Browsers */
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.code {
	font-family: consolas;
}
#charInput {
	position: absolute;
	background: transparent;
	font: inherit;
	border: 0px;
	padding: 0px;
	display: block;
	color: inherit;
	caret-color: transparent;
}


@keyframes blink {
	0%,40%,100% {
		opacity: 1;
	}
	50%,90% {
		opacity: 0;
	}
}
@-webkit-keyframes blink {
	0%,40%,100% {
		opacity: 1;
	}
	50%,90% {
		opacity: 0;
	}
}
