html, body, table {
	height: 100%;
}

tr {
	width: 100%;
}

td {
	width: 50%;
}

textarea {
	resize: none;
}

textarea:focus, button:focus {
	outline: none;
}

button {
	cursor: pointer;
}

button:hover {
	background-color: #1abc9c;
}

.console:after {
	content: "_";
	color: transparent;
	box-sizing: border-box;
	display: inline-block;
	border-bottom: 2px solid #fff;
	transform: translateY(-4px);
	animation: blinking 0.7s infinite;
}

@keyframes blinking {
  0% {border-bottom: 2px solid #fff;}
  50% {border-bottom: 2px solid transparent;}
	100% {border-bottom: 2px solid #fff;}
}

::selection {
	background: #1abc9c; /* WebKit/Blink Browsers */
}

::-moz-selection {
	background: #1abc9c; /* Gecko Browsers */
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
